/* ========== GOOGLE FONTS ========== */
@import url('https://fonts.googleapis.com/css2?family=Play&family=Ubuntu:wght@400;500&display=swap');

/* ========== VARIABLE CSS ========== */
:root {
    /* ===== Color ===== */
    --body-color-first: #121212;
    --body-color-second: #1F1F1F;
    --color-white: #fff;
    --color-title: #ffc107;
    --color-status: #FF3D68;
    --color-hover: #ffc107;
    --color-footer: #6C757D;

    /* ====== Font & Typography ===== */
    --font-title: 'Ubuntu', sans-serif;
    --font-text: 'Play', sans-serif;
    --font-size-1-5: 1.5rem;
    --font-size-0-8-status: .8rem;
    --font-size-0-8: .8rem;

    /* ===== Border Radius ===== */
    --border-radius: 5px;

}

@media screen and (max-width: 480px) {
    :root {
        --font-size-1-5: .8rem;
        --font-size-0-8: .6rem;
        --font-size-0-8-status: .7rem;
        --border-radius: 0;
    }
}

/* ========== VARIABLE DARK THEME ========== */
body.dark-theme {
    --body-color-first: #fff;
    --body-color-second: #1F1F1F;
    --color-white: #fff;
    --color-title: #ffc107;
    --color-status: #FF3D68;
    --color-hover: #ffc107;
    --color-footer: #6C757D;
}

/* ========== BASE ========== */
* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}

body {
    width: 100%;
    height: 100vh;
    color: var(--color-white);
    font-family: var(--font-title);
    background-color: var(--body-color-first);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =========== REUSEABLE CLASS ========== */
.section {
    padding: 3.5rem 0 1.5rem !important;
}


.grid {
    display: grid;
}

.flex {
    display: flex;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* ========== HOME ========== */
.home {
    width: 100%;
    height: 100%;
    text-align: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-row-gap: .5rem;
}

.home__logo {
    grid-row: 1 / -1;
    background-color: var(--body-color-second);
    align-items: center;
    border-radius: var(--border-radius);
    width: 70px;
}

.home__title,
.home__status,
.home__routine,
.home__footer {
    grid-column: 2 / -1;
    background-color: var(--body-color-second);
    border-radius: var(--border-radius);
}

.home__title {
    padding: .2rem 0 !important;
    flex-direction: column;
    justify-content: center;
}

.home__title h2 {
    font-size: var(--font-size-1-5);
}

.home__title p {
    font-size: var(--font-size-0-8);
}

/* ========== ONGOING STATUS ========== */
.home__status {
    background: none;
    align-self: center;
}

.home__status p {
    display: inline-block;
    padding: .5rem 1rem !important;
    background-color: var(--body-color-second);
    border-radius: var(--border-radius);
    font-size: var(--font-size-0-8-status);
}

/* ========== DATE & TIME ========== */
.home__timing {
    grid-column: 2 / -1;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .5rem;
}

.home__timing-date,
.home__timing-time,
.home__timing-sem {
    background-color: var(--body-color-second);
    padding: .2rem 0 !important;
    border-radius: var(--border-radius);
    font-size: var(--font-size-0-8-status);
    justify-content: center;
    align-items: center;
}

.home__timing-time {
    justify-content: space-evenly;
}

/* ========== ROUTINE ========== */
.home__routine {
    grid-row: 4 /-2;
    position: relative;
    overflow: auto;
}

table {
    width: 100% !important;
    height: 100%;
}

.home__routine-table {
    font-size: 14px;
    padding: .5rem !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

td {
    font-family: var(--font-text);
}

/* ========== FOOTER ========== */
.home__footer {
    font-size: .5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem !important;
    color: var(--color-footer);
}

.home__footer a {
    color: var(--color-footer);
}

.home__footer a:hover {
    color: var(--color-hover);
}

/* ========== SCROLL BAR ========== */
::-webkit-scrollbar {
    width: .3rem;
    height: .3rem;
    background-color: #6C757D;
}

::-webkit-scrollbar-thumb {
    background-color: #ffc1076c
}

/* ========== SMALL SCREEN ========== */
@media screen and (max-width: 480px) {
    body {
        overflow: hidden;
    }
    .section {
        width: 360px;
        height: 620px;
        padding: 10px !important;
    }

    .home__logo {
        grid-row: 1 / 2;
        width: 35px;
    }

    .home__status,
    .home__routine,
    .home__footer {
        grid-column: 1 / -1;
    }

    .home__footer {
        grid-row: -2 / -1;
    }

    .home__timing {
        grid-column: 1 / -1;
        grid-gap: .5rem;
    }

    table {
        width: 200% !important;
        height: 100%;
    }

    td {
        font-size: 10px;
    }

}