@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
.font-play {
  font-family: "Play";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
  color: #fff;
}
p {
  margin-bottom: 0;
}
.nitk-logo {
  width: 5.5rem;
  height: 5.5rem;
}

.font-size-5 {
  font-size: 0.7rem;
  margin-bottom: 0px;
}

/* Animated text */
.ongoing-animated {
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, red, #000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 3s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

@media only screen and (max-width: 480px) {
  .nitk-logo {
    width: 4rem;
    height: 4rem;
  }
  .margin-sm {
    margin-top: 2rem;
  }
  .nitk-title {
    font-size: 18px !important;
  }
  .font-size-12 {
    font-size: 12px;
  }
  table p {
    font-size: 12px;
  }
  .font-size-5 {
    font-size: 10px;
  }
}
